.slide-main-container {
  padding-bottom: 20px;
}
.slider-container {
  padding: 20px 60px 20px 60px;
}

.comedy-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 40px;
}
